In [2]:
import numpy as np
import pandas as pd
import scipy.io
import os

os.chdir('/Users/jennlauralee/GitHub Repos/space-number/DATA')

subIDs = ['S1-NJ', 'S2-SC', 'S3-DA', 'S4-ZY', 'S5-DG', 'S6-MG', 'S7-BA', 'S8-RF', 'S9-HL', 'S10-TW']

In [3]:
currsub = pd.read_pickle(subIDs[0] + '.pkl')

In [4]:
allsub = pd.DataFrame()
for i_sub in range(0,10):
    currsub = pd.read_pickle(subIDs[i_sub] + '.pkl')
    currsub = currsub.assign(Sub_ID = i_sub+1)
    
    allsub = allsub.append(currsub)

In [20]:
allXvec = allsub.X

allXvec = [np.round(num,2) for num in allXvec]
allXvec=pd.DataFrame(allXvec)
allXvec.to_csv('allXvec.csv')

StartingPoint = allsub.Mouse_track

StartingPoint = [np.round(num[0][0],2) for num in StartingPoint]
StartingPoint = pd.DataFrame(StartingPoint)
StartingPoint.to_csv('StartingPoint.csv')

In [39]:
allcsvdata = allsub.drop(columns=["Mouse_track","X","x"])
allcsvdata.round(decimals=2) 
#allsub.to_pickle('alldata.pkl')

,Num_block,Block_ID,Trial_ID,Resp_loc,Resp_conf,Correct,RT_resp,RT_conf,Wager,N,x_mean,Sub_ID
0,1.0,1.0,1.0,31.00,4.00,1.0,13.03,2.52,12.0,2.0,30.99,1
1,1.0,1.0,2.0,52.00,6.00,0.0,5.55,1.09,0.0,4.0,57.12,1
2,1.0,1.0,3.0,73.00,4.00,0.0,7.91,0.82,0.0,2.0,75.68,1
3,1.0,1.0,4.0,63.00,22.00,1.0,6.71,1.99,5.0,6.0,60.14,1
4,1.0,1.0,5.0,61.00,8.00,0.0,8.13,0.96,0.0,3.0,74.87,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,0.0,8.0,146.0,51.12,3.00,0.0,3.54,1.22,0.0,2.0,49.46,10
1196,0.0,8.0,147.0,55.25,7.00,1.0,0.97,0.57,11.0,2.0,52.63,10
1197,0.0,8.0,148.0,39.12,7.75,1.0,1.13,0.75,10.0,5.0,37.13,10
1198,0.0,8.0,149.0,66.12,7.25,1.0,2.06,0.94,10.0,2.0,65.54,10
1199,0.0,8.0,150.0,65.25,8.00,1.0,1.37,0.37,10.0,3.0,64.01,10

In [40]:
#allsub.to_csv('alldata.csv')

In [41]:
testsub1stim = allsub.X[((allsub['Num_block']==1) & (allsub['Sub_ID']==1))]
testsub1stim.to_csv('testsub1stim.csv')

allcsvdata.to_csv('allcsvdata.csv')