In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as sts

os.chdir('/Users/jennlauralee/GitHub Repos/Space-Number/DATA')
alldata = pd.read_pickle('alldata.pkl')
alldata.reset_index(drop=True, inplace=True)

In [12]:
test = alldata.groupby(['Sub_ID','Num_block','Block_ID']).mean()

test

                           Trial_ID   Resp_loc  Resp_conf   Correct   RT_resp  \
Sub_ID Num_block Block_ID
1      0.0       2.0           75.5  50.389167  12.178333  0.706667  1.625368
                 4.0           75.5  48.893333  12.823333  0.726667  1.152989
                 5.0           75.5  47.212500  11.935000  0.833333  1.655896
                 7.0           75.5  46.883333  14.328333  0.840000  2.185927
       1.0       1.0           75.5  48.293333  10.773333  0.753333  7.539363
...                             ...        ...        ...       ...       ...
10     0.0       8.0           75.5  50.985833   8.290000  0.686667  1.752610
       1.0       2.0           75.5  49.253333  21.546667  0.713333  4.303548
                 4.0           75.5  49.460000  15.040000  0.653333  5.469147
                 5.0           75.5  51.413333  12.746667  0.680000  8.515517
                 7.0           75.5  53.426667  13.946667  0.713333  6.475297

                            RT_conf     Wager   x    N     x_mean
Sub_ID Num_block Block_ID
1      0.0       2.0       0.682027  6.000000 NaN  4.0  51.329205
                 4.0       0.461737  6.126667 NaN  4.0  50.908426
                 5.0       0.727414  7.266667 NaN  4.0  48.857648
                 7.0       0.713338  6.580000 NaN  4.0  48.578318
       1.0       1.0       0.889284  6.893333 NaN  4.0  48.857648
...                             ...       ...  ..  ...        ...
10     0.0       8.0       0.887484  6.940000 NaN  4.0  50.849564
       1.0       2.0       0.836390  4.006667 NaN  4.0  47.565856
                 4.0       0.864264  4.560000 NaN  4.0  50.849564
                 5.0       2.127286  5.633333 NaN  4.0  49.851206
                 7.0       1.762137  5.560000 NaN  4.0  51.000585

[80 rows x 10 columns]